.DS_Store
# mark一下，你要排除某个文件夹，但是不排除文件夹里面的某个文件夹，一定要在排除的文件夹加*，否则不生效
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
